/*
* @Author: Ali
* @Date:   2016-10-22 00:02:35
* @Last Modified by:   alireza-saberi
* @Last Modified time: 2016-10-25 11:20:48
*/

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background-color: #605CA8;
    color: white;
}

h2 {
    font-size: 2.5rem;
    opacity: .75;
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-responsive.center-block{
    margin-top: 70px;
}

.btn-fb {
    border: 1px solid #fff;
    background: 0 0;
    font-weight: 500;
    outline: 0;
    color: #fff;
}

.img-rounded {
    max-height: 50px;
}