<section class="row">
        <div class="col-xs-12">
            <img class="img-responsive center-block" src="img/logotype-white.png">
        </div>
        <button class="btn btn-primary btn-lg btn-fb center-block" data-ng-click="FBLogout()">Logout</button>
        <h2 class="text-center">
            Welcome {{ name }}
        </h2>
</section>

<section class="row">
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <img class="img-rounded" src="img/Ludacris.jpg">
                    </td>
                    <td>
                        Charge It To The Rap Game<br>
                        <em>Ludacris</em>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-play-circle"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img class="img-rounded" src="img/DJKhaled.jpg">
                    </td>
                    <td>
                        How Many Times<br>
                        <em>DJ Khaled</em>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-play-circle"></span>
                    </td>
                </tr>

                <tr>
                    <td>
                        <img class="img-rounded" src="img/Tink.jpg">
                    </td>
                    <td>
                        Ratchet Commandments<br>
                        <em>Tink</em>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-play-circle"></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</section>

